---
const now = new Date();
const year = now.getFullYear();
---

<footer class="footer">
  <hr />
  <p>
    Check out my <a href="https://www.linkedin.com/in/malizhev/">Linkedin</a>, <a
      href="https://github.com/malizhev">Github</a
    >, and <a href="https://stackoverflow.com/users/9946874/bogdan-malizhev"
      >Stackoverflow</a
    >
  </p><p>© {year} Bogdan Malizhev</p>
</footer>
